.root {
  --timing: cubic-bezier(0.23, 0.88, 0.26, 0.92);
  --duration-long: 250ms;
  --color-outer-border: #171717;
  --color-inner-border: hsla(0, 0%, 100%, 0.14);
  --color-hover-alpha-subtle: hsla(0, 0%, 100%, 0.13);
  --color-hover-alpha-error: hsla(0, 0%, 100%, 0.2);
  --color-hover-alpha-error-2: hsla(0, 0%, 100%, 0.25);
  --mark-size: calc(var(--size) - 2px * 2);
  --focus-color: var(--color-blue);
  --focus-ring: 2px solid var(--focus-color);
  position: relative;

  &:has(.badge[data-error="true"]) {
    --focus-color: #fff;
  }
}

.badge {
  -webkit-font-smoothing: antialiased;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  box-shadow:
    0 0 0 1px var(--color-outer-border),
    inset 0 0 0 1px var(--color-inner-border),
    0px 16px 32px -8px rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(48px);
  border-radius: var(--radius-full);
  user-select: none;
  cursor: pointer;
  scale: 1;
  overflow: hidden;
  will-change: scale, box-shadow, width, background;
  transition:
    scale var(--duration-short) var(--timing),
    width var(--duration-long) var(--timing),
    box-shadow var(--duration-long) var(--timing),
    background var(--duration-short) ease;

  &:active[data-error="false"] {
    scale: 0.95;
  }

  &[data-animate="true"]:not(:hover) {
    scale: 1.02;
  }

  &[data-error="false"]:has(.mark:focus-visible) {
    outline: var(--focus-ring);
    outline-offset: 3px;
  }

  &[data-error="true"] {
    background: #ca2a30;
    --color-inner-border: #e5484d;

    .mark {
      background: var(--color-hover-alpha-error);
      outline-offset: 0px;

      &:focus-visible {
        outline: var(--focus-ring);
        outline-offset: -1px;
      }

      &:hover {
        background: var(--color-hover-alpha-error-2);
      }
    }
  }

  &[data-error-expanded="false"][data-error="true"] ~ .dot {
    transition-delay: var(--duration-short);
    scale: 1;
  }

  > div {
    display: flex;
  }
}

.collapse:focus-visible {
  outline: var(--focus-ring);
}

.issues:has(.open:focus-visible) {
  outline: var(--focus-ring);
  outline-offset: -1px;
}

.dot {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  box-shadow: 0 0 0 1px var(--color-outer-border);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 0px;
  scale: 0;
  pointer-events: none;
  transition: scale 200ms var(--timing);
}

.issues {
  --padding-left: 8px;
  display: flex;
  gap: 2px;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  height: 32px;
  margin-right: 2px;
  border-radius: var(--radius-full);
  transition: background var(--duration-short) ease;

  &:has(.open:hover) {
    background: var(--color-hover-alpha-error);
  }

  &:has(.collapse) {
    padding-right: calc(var(--padding-left) / 2);
  }
}

.open {
  @apply cursor-pointer whitespace-nowrap;
  font-size: 13px;
  color: white;
  width: fit-content;
  height: 100%;
  display: flex;
  gap: 2px;
  align-items: center;
  margin: 0;
  line-height: 36px;
  font-weight: 500;
  z-index: 2;

  &:focus-visible {
    outline: 0;
  }
}

.collapse {
  @apply flex items-center justify-center cursor-pointer;
  width: 24px;
  height: 24px;
  border-radius: var(--radius-full);
  transition: background var(--duration-short) ease;

  &:hover {
    background: var(--color-hover-alpha-error);
  }
}

.cross {
  color: #fff;
  width: 12px;
  height: 12px;
}

.mark {
  width: var(--mark-size);
  height: var(--mark-size);
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--radius-full);
  transition: background var(--duration-long) var(--timing);

  &:focus-visible {
    outline: 0;
  }

  &:hover {
    background: var(--color-hover-alpha-subtle);
  }
}

.count {
  display: grid;
  place-items: center center;
  font-variant-numeric: tabular-nums;
  letter-spacing: -2px;
  margin-right: 2px;

  > * {
    grid-area: 1 / 1;
  }

  &[data-animate="true"] {
    .exit {
      animation: fadeOut 450ms var(--timing) forwards;
    }
    .enter {
      animation: fadeIn 450ms var(--timing) forwards;
    }
  }
}

@media (prefers-reduced-motion) {
  .exit,
  .enter,
  .plural {
    animation-duration: 0ms !important;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-12px);
    filter: blur(2px);
  }
}
