.path {
  fill: none;
  stroke: black;
  stroke-width: 6;

  stroke-dasharray: var(--path-total-length);
  stroke-dashoffset: var(--path-total-length);

  animation: draw 4s ease-in-out infinite;
}

@keyframes draw {
  0% {
    stroke-dashoffset: var(--path-total-length);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    stroke-dashoffset: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: var(--path-total-length);
    opacity: 0;
  }
}
