

/** skip the delay once the tooltip is shown **/
.tooltip {
  transition:
    transform 0.125s ease-out,
    opacity 0.125s ease-out;
  transform-origin: var(--transform-origin);
 
  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.97);
  }
 
  /** This takes care of disabling subsequent animations */
  &[data-instant] {
    transition-duration: 0ms;
  }
}

/** origin aware animations **/
.radix {
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
}
 
.baseui {
  transform-origin: var(--transform-origin);
}

/** touch hitbox utility (for tailwind) **/
@utility touch-hitbox {
  position: relative;
 
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}