.text span {
    display: inline-block;
    opacity: 0;
    animation: text-reveal 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    animation-delay: calc(0.01s * var(--index));
    white-space: pre-wrap;
}

@keyframes text-reveal {
    0% {
        opacity: 0;
        filter: blur(4px);
    }
    40% {
        scale: 1.05;
    }

    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}