.rect {
    stroke-dashoffset: 0;
    animation: dash 24s linear infinite;
    stroke-dasharray: 24;
}

@keyframes dash {
    from {
        stroke-dashoffset: var(--path-total-length);
    }
    to {
        stroke-dashoffset: 0;
    }
}

.hammer {
    animation: hammer-rotate 2s ease-out infinite;
    transform-origin: bottom left;
}

@keyframes hammer-rotate {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}