 /* CSS for expanding hit area */
 .example-class {
     &:after {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         /* Controls size of hidden hit area */
         padding: 8px;
         border-radius: 8px;
     }
 }

 /* CSS Gradient blur class */
 .gradient-blur-right {
     position: absolute;
     z-index: 5;
     inset: auto 0 0 0;
     height: 100%;
     width: 30%;
     right: -4rem;
     margin-left: auto;
     pointer-events: none;
 }

 .gradient-blur>div,
 .gradient-blur::before,
 .gradient-blur::after {
     position: absolute;
     inset: 0;
 }

 .gradient-blur::before {
     content: "";
     z-index: 1;
     backdrop-filter: blur(0.5px);
     mask: linear-gradient(to right,
             rgba(255, 255, 255, 0) 0%,
             rgba(255, 255, 255, 1) 12.5%,
             rgba(255, 255, 255, 1) 25%,
             rgba(255, 255, 255, 0) 37.5%);
 }

 .gradient-blur::after {
     content: "";
     z-index: 8;
     backdrop-filter: blur(64px);
     mask: linear-gradient(to right,
             rgba(255, 255, 255, 0) 87.5%,
             rgba(255, 255, 255, 1) 100%);
 }

.example-class {
    /**responsive border radius**/
    --margin: calc((100% - var(--max-width)) / 2);
    border-radius: clamp(1rem, calc(1.5rem - var(--margin)), 1.5rem);

    /**responsive border radius**/
    --margin: clamp(0, var(--margin), 1.5rem);

    clip-path: inset(top right bottom left);
}