/* NOTES */
/* NOTES */
/* NOTES */
/* NOTES */
/* NOTES */

.expand-hit-area {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 8px;
  }
}

.responsive-border-radius {
  --margin: calc((100% - var(--max-width)) / 2);
  border-radius: clamp(1rem, calc(1.5rem - var(--margin)), 1.5rem);
}

.responsive-border-radius-clip {
  --margin: clamp(0, var(--margin), 1.5rem);
  clip-path: inset(top right bottom left);
}

.tooltip {
  transition: transform opacity 0.1s ease-out;
  transform-origin: var(--transform-origin);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.97);
  }

  &[data-instant] {
    transition-duration: 0ms;
  }
}

.radix {
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
}

.baseui {
  transform-origin: var(--transform-origin);
}

.no-scrollbar {
  scrollbar-width: none;
}

.clip-path-container {
  position: absolute;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  transition: clip-path 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  clip-path: inset(0px 100% 0px 0% round 32px);
}

.chartbuttonswrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}