@import 'tailwindcss';

body {
    /* cursor: none !important; */
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* * {
    cursor: none !important;
}

root {
    cursor: none !important;
} */

.clip-path-container {
    position: absolute;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    transition: clip-path 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    clip-path: inset(0px 100% 0px 0% round 32px);
}

.chartbuttons-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.memory-mask::before {
    content: '';
    position: absolute;
    inset: 0;
    /* padding: 24px; */

    /* -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;

    backdrop-filter: blur(16px);
    will-change: transform;
    transform: translateZ(0); */

    outline: 100px solid rgba(255, 255, 255, 0.5);
    outline-offset: -40px;
    border-radius: 56px;
    -webkit-mask-image: inherit;
    mask-composite: exclude;

    z-index: 5;
    pointer-events: none;
}

.draw-path {
    fill: none;
    stroke: var(--color-text);
    stroke-width: 6;

    stroke-dasharray: var(--path-total-length);
    stroke-dashoffset: var(--path-total-length);

    animation: draw 5s ease-in-out infinite alternate;
}

@keyframes draw {
    from {
        stroke-dashoffset: var(--path-total-length);
    }
    to {
        stroke-dashoffset: 0;
    }
}

.animated-rect {
    stroke-dashoffset: 0;
    animation: dash 24s linear infinite;
    stroke-dasharray: 24;
}

@keyframes dash {
    from {
        stroke-dashoffset: var(--path-total-length);
    }
    to {
        stroke-dashoffset: 0;
    }
}

.hammer-icon {
    animation: hammer-rotate 2s ease-out infinite;
    transform-origin: bottom left;
}

@keyframes hammer-rotate {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.dasher {
    stroke-dashoffset: 8;
    animation: dash 4s linear infinite;
    stroke-dasharray: 6 4;
    will-change: display;
}

.pingo {
    animation: pingo 1s 0.6s ease forwards;
    outline: 2px solid rgba(6, 249, 107, 1);
    outline-offset: -2px;
    will-change: outline-offset outline-color;
}

@keyframes pingo {
    from {
        outline-color: rgba(6, 249, 107, 1);
        outline-offset: -2px;
    }
    to {
        outline-color: rgba(6, 249, 107, 0);
        outline-offset: 16px;
    }
}

.outliner {
    outline: 2px solid rgba(6, 249, 107, 0);
    outline-offset: 8px;
    transition: all 0.15s ease-out;
}

.outliner:hover {
    outline: 2px solid rgba(6, 249, 107, 1);
    outline-offset: 4px;
}

.no-scrollbar {
    scrollbar-width: none;
}