.outliner {
    outline: 2px solid rgba(6, 249, 107, 0);
    outline-offset: 8px;
    transition: all 0.15s ease-out;
}

.outliner:hover {
    outline: 2px solid rgba(6, 249, 107, 1);
    outline-offset: 4px;
}

.pingo {
    animation: pingo 1s 0.6s ease forwards;
    outline: 2px solid rgba(6, 249, 107, 1);
    outline-offset: -2px;
    will-change: outline-offset outline-color;
}

@keyframes pingo {
    from {
        outline-color: rgba(6, 249, 107, 1);
        outline-offset: -2px;
    }
    to {
        outline-color: rgba(6, 249, 107, 0);
        outline-offset: 16px;
    }
}