@media (max-width: 1250px) {
  .root img:nth-of-type(6) {
    display: none;
  }
}

@media (max-width: 1050px) {
  .root img:nth-of-type(5) {
    display: none;
  }
}

@media (max-width: 960px) {
  .root img:nth-of-type(4) {
    display: none;
  }
  .root img:nth-of-type(3) {
    display: none;
  }
}

.handle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-orange-bg);
  border: 1.5px dashed var(--color-orange);
  padding: 20px;
  top: 50%;
  left: 50%;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
}

.handle[data-debug="true"]:after {
  opacity: 1;
  pointer-events: auto;
}
